html, body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #52616D;
	line-height: 24px;
	min-width: 970px;
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
}

h1 {
	font-family: 'Lobster', sans-serif;
	color: #52616D;
	font-size: 42px;
	padding-bottom: .5em;
	border-bottom: #52616D 2px solid;
}

h2 {
	font-size: 24px;
	color: #C44741;
	padding-bottom: .2em;
}

h3 {
	color: #2C343B;
}

a {
	text-decoration: none;
	color: #C44741;
}

a:hover, a:active {
	text-decoration: underline;
	font-style: italic;
}

/*<![CDATA[*/
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre 
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
code.sourceCode span.kw { color: #007020; font-weight: bold; } 
code.sourceCode span.dt { color: #902000; }
code.sourceCode span.dv { color: #40a070; }
code.sourceCode span.bn { color: #40a070; }
code.sourceCode span.fl { color: #40a070; }
code.sourceCode span.ch { color: #4070a0; }
code.sourceCode span.st { color: #4070a0; }
code.sourceCode span.co { color: #60a0b0; font-style: italic; }
code.sourceCode span.ot { color: #007020; }
code.sourceCode span.al { color: red; font-weight: bold; }
code.sourceCode span.fu { color: #06287e; }
code.sourceCode span.re { }
code.sourceCode span.er { color: red; font-weight: bold; }
/*]]>*/

code {font-family: monospace; }

pre { background-color: #ccc; padding: 1em; }

img {
padding-left: 10em;
}

.small-title {
	font-family: 'Lato', sans-serif;
	background: #2C343B;
	color: white;
	font-size: 10px;
	font-weight: bold;
	line-height: 12px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0;
}

/* Top level layout */
#content {
	width: 100%;
	height: 90%;
	overflow: hidden;
}

#top-component {
	height: 80%;
	min-height: 2em;
}

#divider {
	top: 80%;
	height: 5px;
}

#bottom-component {
	top: 80%;
	min-height: 5em;
	margin-top: 5px;
	margin-bottom: 0;
	padding-bottom: 0;
	overflow: hidden;
}

/* Split pane styling */
div.split-pane-frame {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 0;
	background: #52616D;
}

div.pane-decoration {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 0;
	background: white;
	width: 100%;
	height: 100%;
	padding: 0;
	overflow: auto;
}

#nav {
	background: #2C343B;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	width: 100%;
}

#nav ul {
	background: #2C343B;
	padding: 10px 20px;
	float: left;
	width: 100%;
	height: 100%;
	margin: 0;
}

#nav li{
	padding: 0 1em;
	float: left;
	display: block;
	list-style-type: none;
}

#nav ul li a{
	color: #C44741;
	text-decoration: none;
}

#nav ul li a:hover
{
	color: White;
	font-style: normal;
}

#lecture {
	padding: 2em 5em;
}

#content-text {
	padding: 2em 5em;
	margin: 0;
	border: 0;
	width: 90%;
	height: 95%;
	align: top;
	overflow-y: scroll;
	overflow-x: hidden;
}

#console-container {
	width: 50%;
	height: 100%;
	float: left;
	overflow-y: scroll;
	overflow-x: hidden;
}

.CodeMirror {
	width: 100%;
	height: auto;
	min-height: 3em;
}

.CodeMirror-scroll {
	overflow-y: scroll;
	overflow-x: auto;
}

#compile-button {
	font-family: 'Lato';
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	background: #ccc;
	text-transform: uppercase;
	width: 50%;
	border: 0;
	margin-bottom: 1em;
	overflow: hidden;
    float: left;
}

#stop-button {
	font-family: 'Lato';
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	background: #ccc;
	text-transform: uppercase;
	width: 50%;
	border: 0;
	margin-bottom: 1em;
	overflow: hidden;
    float: left;
}

#output {
	font-family: monospace;
	font-size: 16px;
	line-height: 18px;
	padding: 0 2em;
}

#canvas-container {
	width: 50%;
	height: 100%;
	float: left;
	overflow: hidden;
}

#canvas1 {
	border: 1px #52616D;
	border-style: none solid solid solid;
	padding: 10px;
	overflow: hidden;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}

