#lecture-container {
	width: 100%;
	height: 50%;
	background: 'PapayaWhip';
}

#console-container {
	width: 50%;
	height: 50%;
	background: 'PeachPuff';
}

#canvas-container {
	width: 50%;
	height: 50%;
	background: 'MintCream';
}

