extends layout

block content
	h1.
		Challenge List
	u1
		each challenge, i in challengelist
			li
				a(href="/challenge/#{challenge.challengeId}") #{challenge.title}
	li
		a(href="/newchallenge") Add New Challenge
		br
		a(href="/editchallengelist") Edit Challenges
               
