extends template

block head

block content
	h1(class='h-pad') Results

	div(class='grid row')
		div(class='col-1-2')
			p <strong>Student Name</strong>
		div(class='col-1-2')
			p <strong>% Tests Passed</strong>

	each result in results
		div(class='grid row')
			div(class='col-1-2')
				a #{result.username}
			div(class='col-1-2')
				a #{result.correct}
