doctype html
html
	head
		title Challenge List

		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato')

		link(rel='stylesheet', href='../css/normalize.css')
		link(rel='stylesheet', href='../css/style.css')
		script(src="../socket.io/socket.io.js")

	body
		div(class='grid grid-pad')
			div(class='col-1')
				a(href="/newchallenge")
					button(class='button' id='newChallengeButton' type='button') Add New Challenge
				a(href="/editchallengelist")
					button(class='button' id='editChallengeButton' type='button') Edit Challenges

			div(class='col-1')
				h2
					div(class='challengetextlisting')
						"Challenge List"
					div(class='challengecheckbox')
						"Visible"
				table
					tbody
						each challenge, i in challengelist
							tr
								td(class='challengetextlisting')
									a(href="/challenge/#{challenge.challengeId}") #{challenge.title}
								td(class='challengecheckbox')
									input(type='checkbox', onclick="cbclick(#{challenge.challengeId}, this)", checked=(challenge.visible ? "checked" : undefined))

			script.

				var socket = io.connect('http://localhost');
				//var socket = io.connect('http://interactiveclassroom.herokuapp.com');

				function cbclick(id, cb){
					socket.emit('updateChallengeVisibility', {
						challengeId: id,
						visible: cb.checked
						}
					);
				};
