doctype html
html
	head
		title Challenge #{id}
		link(rel='stylesheet', href='../codemirror.css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
		//script(src='http://interactiveclassroom.herokuapp.com/socket.io/socket.io.js')
		script(src="../socket.io/socket.io.js")
		script(src='../codemirror.js')
		
		script.
			//var socket = io.connect('http://interactiveclassroom.herokuapp.com');
			var socket = io.connect('http://localhost');
			
			socket.on('connect', function () {
				console.log('Client: In connect!');
				socket.emit('requestChallenge');
			});
			
			socket.on('news', function (data) {
				console.log('Client: In news');
				console.log(data);
				socket.emit('my other event', { my: 'data' });
			});

	body
		h1 Challenge #{id}
		p This is challenge #{id}
		textarea(id='codeEditor') Write your code here!
		button(id='submitButton' type='button') Submit
		textarea(id='outputBox' rows='10' cols='50' disabled) Results
		script.
			var inputs = {};
			var outputs = {};
			var functionName;
			var userFn;
			var editor = CodeMirror.fromTextArea(document.getElementById("codeEditor"), 
			{
				lineNumbers: true,
				mode: "javascript"
			});

			socket.on('sendChallenge', function (data) {
				console.log('Client: In send challenge');
				$("#title").html(data.problem);
				console.log("output = " + data.output.toString());
				inputs = data.input;
				outputs = data.output;
				functionName = data.functionName;
			});
			
			$('#submitButton').click(function() {
				$('#outputBox').val('Results');
				console.log(editor.getValue());
				console.log("output = " + outputs.toString());
				eval(editor.getValue());
				total = inputs.length;
				correct = 0.0;
				for(var i in inputs) {
					var output = eval(functionName+'(inputs[i])');
					if(output == outputs[i]) {
						correct += 1.0;
						$('#outputBox').val($('#outputBox').val() + '\nTest ' + i + ' PASSED'); 
					} else {
						$('#outputBox').val($('#outputBox').val() + '\nTest ' + i + ' FAILED');
						$('#outputBox').val($('#outputBox').val() + '\nInput: ' + inputs[i]);
						$('#outputBox').val($('#outputBox').val() + '\nYour output: ' + output);
						$('#outputBox').val($('#outputBox').val() + '\nCorrect output: ' + outputs[i]);
					}
				}
				message = '\n' + (100*correct/total) + '% Correct';
				$('#outputBox').val($('#outputBox').val() + message);
				console.log(message);
				});