extends layout

block content
    h1.
        Challenge List
    u1
        each challenge, i in challengelist
            li
                a(href="/challenge/#{challenge.challengeId}") #{challenge.functionName}