doctype html
html
    head
        title Edit Challenges
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato')
        link(rel='stylesheet', href='../css/style.css')
        link(rel='stylesheet', href='../css/normalize.css')
    body
        block content
            h1.
                Challenge List
            div(class='col-2-3' )
                u1
                   each challenge in challengelist
                        li
                           h2.challengeTitle
                              div(id='challengetitle')
                                form( method="post", action="/deletechallenge") 
                                    input(name="challengeId", type="hidden", value=challenge.challengeId)
                                    input(class="deleteButton", value="Delete", type="submit", id="challengedelete")
                              div(class='col-2-3')
                                 a(href="/challenge/#{challenge.challengeId}") #{challenge.title}
                                 
                        
