doctype html
html
    head
        title Interactive Classroom | #{username}

        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato')

        link(rel='stylesheet', href='../css/normalize.css')
        link(rel='stylesheet', href='../css/style.css')
        link(rel='stylesheet', href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")

    body

        ul(id='navbar')
            li Interactive Classroom
            li
                a(href='/logout') Logout &nbsp;
                    i(class='fa fa-power-off')


        div(class='grid grid-pad')
            h1 Welcome #{username}!
