doctype html
html
    head
        title Interactive Classroom | #{username}

        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato')

        link(rel='stylesheet', href='../css/normalize.css')
        link(rel='stylesheet', href='../css/style.css')
        link(rel='stylesheet', href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
        link(rel='shortcut icon' type='image/x-icon' href='../img/favicon.ico')

    body
        a(name='top')
        ul(id='navbar')
            li Interactive Classroom
            li
                a(href='/challengelist' target='mainframe') Challenges
            li
                a(href='/admin/userlist' target='mainframe') Users
            li
                a(href='/results' target='mainframe') Results
            li
                a(href='/logout') Logout &nbsp;
                    i(class='fa fa-power-off')


        div(class='grid grid-pad')
            h1 Welcome #{username}!
            a(name='maincontent')
            iframe(name='mainframe' frameborder='no' width='100%' height='800px' src='/challengelist')
