doctype html
html
    head
        title Interactive Classroom | Login

        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato')

        link(rel='stylesheet', href='../css/normalize.css')
        link(rel='stylesheet', href='../css/style.css')
        link(rel='stylesheet', href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
        link(rel='shortcut icon' type='image/x-icon' href='../img/favicon.ico')

    body(style='background-color: #22313F;')
        div(class='login')
            h2(style='color: #5C97BF;') Interactive Classroom
            p
                i(class='fa fa-user' style='font-size: 120px; color: #ECF0F1;')

            a(href="/auth/google") Sign in with Google
