extends layout

block content
  h1= title
  form#formAddChallenge(name="addchallenge", method="post", action="/addchallenge")
    input#inputChallengeId(type="text", placeholder="id", name="challengeId")
    input#inputChallengeProblem(type="text", placeholder="problem", name="problem")
    input#inputChallengeFunctionName(type="text", placeholder="function name", name="functionName")
    input#inputChallengeInputs(type="text", placeholder="inputs", name="inputs")
    input#inputChallengeOutputs(type="text", placeholder="outputs", name="outputs")
    button#btnSubmit(type="submit") submit