extends template

block head

block content
	h1(class='h-pad') Challenges

	each challenge in challengelist
		if (challenge.visible)
			div(class='grid row')
				li
					a(href='/challenge/#{challenge.challengeId}') #{challenge.title}
