*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #F5F5F5;
	font-family: 'Lato', Helvetica, sans-serif;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Text styles */

h2 {
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 16px;
	line-height: 146x;
	margin: 10px 0;
	text-transform: uppercase;
	color: #404040;
}

p {
	font-size: 18px;
	line-height: 18px;
	margin: 10px 0 20px;
	color: #707070;
}


.correctResult, .incorrectResult, .consoleError, .consoleWarn, .consoleLog {
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	padding: 0;
}

.correctResult {
	color: #2ecc71;
}

.incorrectResult {
	color: #e74c3c;
}

.consoleError {
	color: #e74c3c;
}

.consoleWarn {
	color: #e67e22;
}

.consoleLog {
	color: #34495e;
}

/* Lists */

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

li {
background: #bdc3c7;
border-bottom: 3px solid #F5F5F5;
line-height: 28px;
display: block;
padding-left: 1%;
margin-right: 2%;
}

li:last-child {
border: none;
}

li a {
text-decoration: none;
color: #000;
display: block;
width: 100%;
}

li a:hover {
padding-left: 2%;
background: #ecf0f1;
}

/* Grid layout */
[class*='col-'] {
	float: left;
	padding-right: 30px;
}

[class*='col-']:last-of-type {
	padding-right: 0;
}

.col-1 {
	width: 100%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-3 {
	width: 33.33%;
}

.col-1-8 {
	width: 12.5%;
}

.row-1-2 {
	height: 50%;
	max-height: 400px;
	overflow: scroll;
}

.grid {
	margin: 0;
	padding: 0;
	height: 100%;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid-pad {
	padding: 30px 10px 30px 30px;
}

.grid-pad > [class*='col-']:last-of-type {
	padding-right: 30px;
}


/* Dropdown Select Box */
select {
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px' style='fill:#FFFFFF'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
	background-color: #8e44ad;
	background-repeat: no-repeat;
	background-position: right 7px top 7px;
	background-size: 16px 16px;
	color: #FFFFFF;
	display: inline-block;
	width: 100%;
	height: 28px;
	padding: 5px 5px 5px 10px;
	font-size: 14px;
	border-radius: 3px;
	border: 0;
	outline: none;
	-webkit-border-radius: 5px;
	-webkit-appearance: none;
}

select:hover {
	background-color: #9b59b6;
}

/* Buttons */
.button {
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	display:inline-block;
	float: right;
	font-size: 16px;
	margin: 5px;
	padding: 7px 20px;
	text-decoration:none;
}

#challengetitle{
	display:inline-block;
	margin-right:10px;

} 

#challengedelete{
	display:inline-block;
	float: right;
}

#submitButton {
	background-color: #27ae60;
	border: 1px #27ae60 solid;
	color: #FFFFFF;
}

#submitButton:hover {
	background-color: #2ecc71;
}

#emailButton {
	background-color: #2980b9;
	border: 1px #2980b9 solid;
	color: #FFFFFF;
}

#emailButton:hover {
	background-color: #3498db;
}

#newChallengeButton {
	background-color: #f39c12;
	border: 1px #f39c12 solid;
	color: #FFFFFF;
	float: left;
}

#newChallengeButton:hover {
	background-color: #f1c40f;
}

#editChallengeButton {
	background-color: #d35400;
	border: 1px #d35400 solid;
	color: #FFFFFF;
	float: left;
}

#editChallengeButton:hover {
	background-color: #e67e22;
}

/* Console */
#console {
	max-height: 200px;
	overflow: scroll;
}
