body {
	background-color: #F5F5F5;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2em;
}

.challengeTitle {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #404040;
}

.challengeText {
	font-size: 18px;
	color: #707070;
}

#leftPanel {
	float: left;
	width: 550px;
}

#middlePanel{
	background-color: #FFFFFF;
	float: left;
	width: 250px;
	height: 300px;
	overflow: scroll;
}

#rightPanel {
	background-color: #FFFFFF;
	float: left;
	width: 400px;
	height: 300px;
	overflow: scroll;
}

#codeEditor {
	float: left;
	width: 500px;
	height: 300px;
}

#outputBox {
	float: left;
	padding: 0px 20px;
	margin: 0;
}

#consoleBox{
	float: left;
	padding: 0px 20px;
	margin: 0;
}

.correctResult {
	font-size: 16px;
	color: #8FC949;
}

.incorrectResult {
	font-size: 16px;
	color: #D65654;
}

.consoleError {
	font-size: 12px;
	color: #FF0000;
}

.consoleWarn {
	font-size: 12px;
	color: #FF6600;
}

.consoleLog {
	font-size: 12px;
	color: #000000;
}

#submitButton {
	background-color: #8FC949;
	border: 1px #8FC949 solid;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	color: #FFFFFF;
	display:inline-block;
	float: right;
	font-size:18px;
	margin: 5px 22px;
	padding: 5px 50px;
	text-decoration:none;
}

#emailButton {
	background-color: #00CCFF;
	border: 1px #00CCFF solid;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	color: #FFFFFF;
	display:inline-block;
	float: right;
	font-size:18px;
	margin: 5px 22px;
	padding: 5px 50px;
	text-decoration:none;
}

.deleteButton {
	background-color: #FA5858;
	border: 1px #FA5858 solid;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	color: #FFFFFF;
	display:inline-block;
	float: right;
	font-size:18px;
	margin: 5px 22px;
	padding: 5px 50px;
	text-decoration:none;
	position: relative;
}

#submitButton:hover {
	background-color: #B9ED7B;
}

.deleteButton:hover {
	background-color: #F5A9A9;
}

#submitButton:active, .deleteButton:active {
	position:relative;
	top: 2px;
}

#submitButton:focus, .deleteButton:focus {
	outline: none;
}

.editChallengeTitleText {
	vertical-align: center;
	margin-right: 250px;
}

.editChallengeEntry {
	padding:20px;
	margin-bottom:20px;
	border-radius:5px;
	border:5px solid #404040;
}
.editChallengeData {
	padding: 0px 20px;
	clear: both;
}

.editChallengeDataEntry {
	padding: 1px 0px 1px 15px;
	background-color: #D8D8D8;
}

.editChallengeDataSubEntry {
	padding-left: 10px;
}

.login{
	text-align: center;
	font-family: Verdana, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	font-color:#000000;

}
